<% if(typeof errors != "undefined") { %>
  <% errors.forEach((error) => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="d-flex justify-content-center">
        <%= error.message %>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% }); %>
<% } %>

<% if(error_msg != "") { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="d-flex justify-content-center">
      <%= error_msg %>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(success_msg != "") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <div class="d-flex justify-content-center">
      <%= success_msg %>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(error != "") { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="d-flex justify-content-center">
      <%= error %>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(success != "") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <div class="d-flex justify-content-center">
      <%= success %>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>