<% include ../partials/top %>

<h1><%= wish.owner.username %> wish</h1>

<h3><%= wish.name %></h3>
<p>Price: <%= wish.price %> euros</p>
<img src="<%= wish.image %>">
<p>Link: <a href="<%= wish.link %>"><%= wish.link %></a></p>
<p><%= wish.description %></p>

<% if(wish.owner.id.equals(currentUser._id)) { %>
  <a href="/<%= wish.owner.username %>/wishes/<%= wish._id %>/edit">Edit wish</a>
  <form action="/<%= wish.owner.username %>/wishes/<%= wish._id %>/?_method=DELETE" method="POST">
    <button>Delete wish</button>
  </form>
<% } %>

<a href="/<%= wish.owner.username %>/wishes">Back to all <%= wish.owner.username %> wishes</a>

<% include ../partials/bottom %>