<% include ../partials/top %>

<main>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="lead mt-5"><%= wish.owner.username %> wishes...</h1>
        <h1 class="display-4 mb-4"><%= wish.name %></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 mb-3">
        <div class="card">
          <img class="card-img-top img-wish" src="<%= wish.image %>">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Price: <%= wish.price %> euros</h6>
            <p class="card-text"><%= wish.description %></p>
            <div class="row">
              <div class="col-12 col-md-6">
                <a href="<%= wish.link %>" target="_blank" class="card-link">Visit wish's website</a>
              </div>
              <div class="col-12 col-md-6 mt-3 mt-md-0">
                <div class="text-right">
                  <% if(wish.owner.id.equals(currentUser._id)) { %>
                    <a class="btn btn-sm btn-outline-secondary" href="/<%= wish.owner.username %>/wishes/<%= wish._id %>/edit"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <form class="d-inline" action="/<%= wish.owner.username %>/wishes/<%= wish._id %>/?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
            </div> 
          </div>
          <div class="card-body border-top">
            <h4 class="text-center">Comments</h4>
            <% if(!wish.comments || !wish.comments.length) { %>
              <p class="lead text-center mt-4">There are no comments yet, be the first!</p>
            <% } %>
            
            <% wish.comments.forEach((comment) => { %>
              <div class="border-bottom">
                <p class="lead mt-2"><%= comment.owner.username %></p>
                <p class="card-text"><%= comment.text %></p>
                <div class="row mb-2">
                  <div class="col-12 col-md-6">
                    <% if(comment.owner.id.equals(currentUser._id)) { %>
                      <a class="btn btn-sm btn-outline-secondary" href="/<%= wish.owner.username %>/wishes/<%= wish._id %>/comments/<%= comment._id %>/edit"><i class="fas fa-pencil-alt"></i></a>
                      <form class="d-inline" action="/<%= wish.owner.username %>/wishes/<%= wish._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i></button>
                      </form>
                    <% } %>
                  </div>
                  <div class="col-12 col-md-6">
                    <small class="text-muted text-right">
                      <p>
                        <% if(comment.edited) { %>
                          <%= "Edited" %>
                        <% } else { %>
                          <%= "Posted" %>
                        <% } %>
                       <%= moment(comment.date).fromNow() %>
                      </p>
                    </small>
                  </div>
                </div>
              </div>
            <% }); %>
      
            <h4 class="text-center my-4">Leave a comment</h4>
            <form action="/<%= wish.owner.username %>/wishes/<%= wish._id %>/comments" method="POST">
              <div class="form-group">
                <label for="comment" class="sr-only">Enter comment</label>
                <textarea id="comment" class="form-control" name="comment[text]" placeholder="Enter comment"></textarea>
              </div>
              <button class="btn btn-lg btn-secondary btn-block">Submit</button>
            </form>
          </div>
          
          <div class="card-footer text-center">
            <a class="btn btn-outline-secondary" href="/<%= wish.owner.username %>/wishes">Back to all <%= wish.owner.username %> wishes</a>
          </div>
        </div>     
      </div>
    </div>
  </div>
</main>

<% include ../partials/bottom %>